body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sessao-notas {
  border: 1px solid rgb(252, 213, 141);
  background-color: rgb(255, 243, 221);
}

.sessao-lista-notas {
  border: 1px solid rgb(252, 213, 141);
  background-color: rgb(255, 230, 183);
}

.sessao-categorias {
  border: 1px solid rgb(156, 214, 156);
  background-color: rgb(212, 247, 212);
}
